# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
bin/data/fadecandy-master


*.obj
obj/Debug/ledFrame2.log
*.tlog
*.log
obj/Release/vc110.pdb
*.cache
obj/Debug/vc110.idb
*.exe
bin/ledFrame2_debug.ilk
*.dll
bin/ledFrame2_debug.exp
*.pdb
*.exp
bin/ledFrame2.lib
*.lib
*.lastbuildstate
*.opensdf
*.sdf
*.res
